
/*
	Notes: 

	//class selectors: "."

	//id selectors: "#"

	//nth-child(N):;

	main font: Arial;
*/

* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	-webkit-font-smoothing: none;
}

h1 {
	font-size: 40pt;
	padding: 10px;
}

.fullPage {
	height: 100%;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(192,192,192);
}

#clock {
	height: 20px;
	float: right;
	position: absolute;
	bottom: 1;
	right: 5;
}

.window {
	background-image: url("./window.png");
	width: 640px;
	height: 459px;
}

.paintwindow {
	height: 408px;
	width: 636px;
	background-image: url('paintwindow.png');
}

#dragbar {
	width: 97%;
	opacity: 0;
	background-color: white;

}

.window {
	position: absolute;
	top: 100;
	left: 100;
}
.window .textbox {

	background-color: transparent;
	text-align: left;
	position: relative;
	left: 12px;
	width: 96%;
	top: 47px;
	bottom: 90px;
}

.closeButton {

	height: 20px;
	width: 20px;
	float: right;
	top: 0px;
	position: relative;
	z-index: 1;
}

.window .searchbar {

	background-color: transparent;
	text-align: left;
	position: relative;
	left: 12px;
	width: 91%;
	top: 24px;
	bottom: 90px;
}

.taskBar {
	list-style-type: none;
	height: 100%;
	left: 0;
	text-align: left;
}

.taskBar li {
	display: inline;
	height: 100%;
}

.iconLine {
	list-style-type: none;
	text-align: right;
}

#iconLineOne {
	position: absolute;
	top: 20;
	right: 20;
	margin: 0;
	padding: 0;
}

#iconLineTwo {
	position: absolute;
	top: 100;
	right: 100;
	margin: 0;
	padding: 0;
}

.iconLine div {
	display: inline-block;
}

.desktopIcon {
	padding-left: 10px;
	padding-right: 10px;
	bottom: 0;
	position: relative;
}

.desktopIcon p {
	bottom: 0;
	position: relative;
}
.desktopIcon img {
	margin:auto;
	display:block;
	padding-bottom: 5px;
}

button {
	appearance: none;
	border: 1px solid #6E6E6E;
	border-left-color: white;
	border-top-color: white;
	background-color: #B3B3B3;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
}

button:active {
	border-left-color: black;
	border-top-color: black;
	background-color: #838383;
}

#pageOne {
	background-image: url('./background.jpg');
	background-size: 100%;
}
